<div class="container" *ngIf="tasks$ | async as tasks">
  
  <div class="card has-shadow has-text-centered" *ngIf="incompleteTasks$ | async; else completedTasks">
    <h2 class="card-header">
      Your Daily Tasks
    </h2>

    <div class="task-list">

      <button 
        class="task-item" 
        *ngFor="let task of tasks" 
        (click)="dispatchToggleTaskAction(task.id)"
      >
        <fa-icon 
          class="task-icon" 
          size="2x" 
          [icon]="task.icon"
          [ngClass]="task.completed ? 'complete' : 'incomplete'"
        ></fa-icon>
        <p class="task-name">{{task.name}}</p>
      </button>

    </div>
  </div>

  <ng-template #completedTasks>
    <div class="card has-shadow has-text-centered">
      <h2 class="card-header">
        Congratulations! You've completed all your tasks! 🎉 
      </h2>
      <button class="button" (click)="dispatchResetAction()">Reset</button>
    </div>
  </ng-template>

</div>

<canvas id="confetti"></canvas>